on post-fs-data
    mkdir /data/mihomo 0755 root root
    copy /system/etc/mihomo/config.yaml /data/mihomo/config.yaml
    chown root root /data/mihomo/config.yaml
    chmod 644 /data/mihomo/config.yaml

service mihomo /system/bin/mihomo -d /data/mihomo
    class main
    user root
    group root system net_admin net_raw inet
    capabilities NET_ADMIN NET_RAW NET_BIND_SERVICE
    seclabel u:r:su:s0
    disabled

on property:sys.boot_completed=1
    enable mihomo
    start mihomo
